@import '../styles/tokens.css';
@import 'tailwindcss';

@layer base {
  * {
    -webkit-tap-highlight-color: transparent;
  }

  html {
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
  }

  html,
  body {
    color: #111114;
    overscroll-behavior: none;
  }

  body {
    -webkit-touch-callout: none;
  }

  button,
  a,
  [role='button'],
  label {
    user-select: none;
    -webkit-user-select: none;
  }

  img {
    -webkit-user-drag: none;
  }

  input,
  textarea {
    font-size: 16px !important;
    -webkit-appearance: none;
    appearance: none;
  }

  ::-webkit-scrollbar {
    display: none;
  }

  * {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
}

@utility scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

.hide-arrows::-webkit-outer-spin-button,
.hide-arrows::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.hide-arrows[type='number'] {
  -moz-appearance: textfield;
}

.no-scroll {
  overflow: hidden !important;
  overscroll-behavior: none !important;
  scrollbar-width: none !important;
  -ms-overflow-style: none !important;
}
.no-scroll::-webkit-scrollbar {
  display: none !important;
}
